/* Topbar links */
.topbar a {
  color: #caad00;
}

/* Topbar nav */
.topbar-nav {
  margin-bottom: 1rem;
}
.topbar-nav-item {
  display: block;
  line-height: 1.75;
}
a.topbar-nav-item:hover,
a.topbar-nav-item:focus {
  text-decoration: underline;
}
.topbar-nav-item.active {
  font-weight: bold;
}

/* Page links */
.posts a {
  color: #caad00;
}

/* Page nav */

.posts-nav {
  margin-bottom: 1rem;
}
.posts-nav-item {
  display: block;
  line-height: 1.75;
}
a.posts-nav-item:hover,
a.posts-nav-item:focus {
  text-decoration: underline;
}

/* Meta data line below post title */
.posts-nav-item-date {
#  display: block;
  margin-top: -.5rem;
  margin-bottom: 1rem;
  color: #9a9a9a;
}

/* Blog post or page title */
.posts-title,
.posts-title a {
  color: #caad00;
}

.posts-title {
  margin-top: 0;
}
