<article class="post">
  {{ post.content }}

  <footer>
       <nav class="tags">
           Autor: @{{post.author}}
       </nav>
    <nav class="tags">
      {% assign tags = post.tags | sort %}
      Tagi:
      {% for tag in tags %}
      <a href="{{ site.baseurl }}/posts-by-tags/{{ tag }}">{{ tag }}</a>
      {% endfor %}
    </nav>

    <nav class="tags">
      {% assign langs = post.langs | split: ' ' | sort %}
      {% assign langs_size = langs | size %}
      {% if 0 < langs_size %}
      Języki:
      {% for lang in langs %}
      <a href="{{ site.baseurl }}/posts-by-langs/{{ lang }}">{{ lang }}</a>
      {% endfor %}
      {% endif %}
    </nav>

    <nav class="tags">
        {% assign libs = post.libs | split: ' ' | sort %}
        {% assign libs_size = libs | size %}
        {% if 0 < libs_size %}
        Biblioteki:
        {% for lib in libs %}
        <a href="{{ site.baseurl }}/posts-by-libs/{{ lib }}">{{ lib }}</a>
        {% endfor %}
        {% endif %}
    </nav>
  </footer>
</article>
