<article class="post">
  {{ post.content }}

  <footer>
    {% if post.author %}
    <nav class="tags">
      Author: @{{post.author}}
    </nav>
    {% endif %}

    {% assign tags = post.tags | sort %}
    <nav class="tags">
      Tagi:
      {% for tag in tags %}
      <a href="{{ site.baseurl }}/posts-by-tags/{{ tag }}">{{ tag }}</a>
      {% endfor %}
    </nav>

    {% assign tags = post.langs | split: ' ' | sort %}
    {% assign tags_size = tags | size %}
    {% if 0 < tags_size %}
    <nav class="tags">
      Języki:
      {% for tag in tags %}
      <a href="{{ site.baseurl }}/posts-by-langs/{{ tag }}">{{ tag }}</a>
      {% endfor %}
    </nav>
    {% endif %}

    {% assign tags = post.libs | split: ' ' | sort %}
    {% assign tags_size = tags | size %}
    {% if 0 < tags_size %}
    <nav class="tags">
      Biblioteki:
      {% for tag in tags %}
      <a href="{{ site.baseurl }}/posts-by-libs/{{ tag }}">{{ tag }}</a>
      {% endfor %}
    </nav>
    {% endif %}
  </footer>
</article>
