<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="{{ '/' | relative_url }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>
    <nav class="sidebar-nav">

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages = (site.pages | sort: 'title' ) %}

      {% for node in pages %}
      {% if node.title != null and node.layout == "posts"  %}
      <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ site.baseurl }}/{{ node.url  | remove_first: '/' }}">{{ node.title }}</a>
      {% endif %}
      {% endfor %}

      {% for node in pages %}
      {% if node.title != null and node.layout == "page"%}
      <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ site.baseurl }}/{{ node.url  | remove_first: '/' }}">{{ node.title }}</a>
      {% endif %}
      {% endfor %}

    </nav>
  </div>
</div>
