---
layout: default
title: {{ page.lang }}
---
<section class="posts">
  <header>
    {% include breadcrumbs.html %}
    <h1 class="posts-title">Język: {{ page.lang | capitalize }}</h1>
  </header>

  <i>{{ page.content }}</i>

  <dl class="posts-nav">
    {% for post in site.posts %}
    {% assign langs = post.langs | split: ' ' %}
    {% if langs contains page.lang %}
    <dt>
      <a class="posts-nav-item" href="{{ post.url | relative_url }}">
        <span class="posts-nav-item-date">
          <time datetime="{{ post.date | date_to_xmlschema }}" class="date">
            {{ post.date | date: "%Y-%m-%d" }}
          </time>
        </span>
        {{ post.title }}
      </a>
    </dt>
    <dd>
      <ul>
        <li>
      Kategoria :
      <a href="{{ site.baseurl }}/posts-by-category/{{ post.category }}">{{ post.category | capitalize }}</a>
        </li>
      {% assign tags = post.tags | sort %}
        <li>
      Tagi:
      {% for tag in tags %}
      <a href="{{ site.baseurl }}/posts-by-tags/{{ tag }}">{{ tag }}</a>
      {% endfor %}
        </li>
      </ul>
    </dd>
    {% endif %}
    {% endfor %}
  </dl>
</section>
