---
layout: default
title: {{ page.lang }}
---
<section class="posts">
  <header>
    {% include breadcrumbs.html %}
    <h1 class="posts-title">Język programowania: {{ page.title }}</h1>
  </header>
  <b>{{ page.title }}</b> - {{ page.description }}

  <h2>Artykuły:</h2>

  <dl class="posts-nav">
    {% assign no-show-langs = true %}

    {% for post in site.posts %}
    {% assign langs = post.langs | split: ' ' %}
    {% if langs contains page.lang %}

    {% include page-doc.html %}

    {% endif %}
    {% endfor %}
  </dl>

  <h2> Linki zewnętrzne </h2>
  {{ page.content }}

</section>
