---
layout: default
title: {{ page.tag }}
---
<div class="posts">
  {% include breadcrumbs.html %}
  <h1 class="posts-title">Tag: {{ page.tag }}</h1>

  <dl class="posts-nav">
    {% for post in site.posts %}
    {% if post.tags contains page.tag %}
    <dt>
      <a class="posts-nav-item" href="{{ post.url | relative_url }}">
        <span class="posts-nav-item-date">
          <time datetime="{{ post.date | date_to_xmlschema }}" class="date">
            {{ post.date | date: "%Y-%m-%d" }}
          </time>
        </span>
        {{ post.title }}
      </a>
    </dt>
    <dd>
      Kategoria :
      <a href="{{ site.baseurl }}/posts-by-category/{{ post.category }}">{{ post.category | capitalize }}</a>
      {% assign langs = post.langs | split: ' ' | sort %}
      {% assign langs_size = langs | size %}
      {% if 0 < langs_size %}
      Języki:
      {% for lang in langs %}
      <a href="{{ site.baseurl }}/posts-by-langs/{{ lang }}">{{ lang }}</a>
      {% endfor %}
      {% endif %}
    {% endif %}
    {% endfor %}
  </dl>
</div>
