---
layout: default
title: {{ page.lib }}
---
<section class="posts">
  <header>
    {% include breadcrumbs.html %}
  </header>
  <h1 class="posts-title">Biblioteka: {{ page.title }}</h1>

  {{ page.content }}

  <h2>Artykuły zawierające biblitekę {{ page.title }}:</h2>

  <dl class="posts-nav">
    {% assign no-show-libs = true %}

    {% for post in site.posts %}
    {% assign libs = post.libs | split: ' ' %}
    {% if libs contains page.lib %}

    {% include page-doc.html %}

    {% endif %}
    {% endfor %}
  </dl>
</section>
