---
layout: default
title: {{ page.book }}
---
<section class="posts">
  <header>
    {% include breadcrumbs.html %}
  </header>
  <h1 class="posts-title">Książka: {{ page.title }}</h1>

  <ul>
    <li>Autorzy: {{ page.authors }}</li>
    <li>Tytuł oryginalny: {{ page.title-of-original }}</li>
    <li>Rok pierwszego wydania: {{ page.year-of-publishment }}</li>
  </ul>

  {{ page.content }}

  <dl class="posts-nav">
    {% for post in site.posts %}
    {% if post.books contains page.book %}

    {% include page-doc-dt.html %}

    {% endif %}
    {% endfor %}
  </dl>
</section>
