---
layout: default
title: {{ page.category }}
---
<section class="posts">
  <header>
    {% include breadcrumbs.html %}
  </header>
  <h1 class="posts-title">Kategoria: {{ page.title }}</h1>

  <i>{{ page.content }}</i>

  <h2>Artykuły należące do kategorii:</h2>

  <dl class="posts-nav">
    {% for post in site.posts %}
    {% if post.category == page.category %}
    <dt>
      <a class="posts-nav-item" href="{{ post.url | relative_url }}">
        <span class="posts-nav-item-date">
          <time datetime="{{ post.date | date_to_xmlschema }}" class="date">
            {{ post.date | date: "%Y-%m-%d" }}
          </time>
        </span>
        {{ post.title }}
      </a>
    </dt>
    <dd>
      <ul>
      {% assign tags = post.tags | sort %}
        <li>
      Tagi:
      {% for tag in tags %}
      <a href="{{ site.baseurl }}/posts-by-tags/{{ tag }}">{{ tag }}</a>
      {% endfor %}
        </li>
      {% assign langs = post.langs | split: ' ' | sort %}
      {% assign langs_size = langs | size %}
      {% if 0 < langs_size %}
        <li>
      Języki programowania:
      {% for lang in langs %}
      <a href="{{ site.baseurl }}/posts-by-langs/{{ lang }}">{{ lang }}</a>
      {% endfor %}
        </li>
      {% endif %}
      </ul>
    </dd>
    {% endif %}
    {% endfor %}
  </dl>
</section>
