---
layout: default
---
{% assign post = page %}
<section>
  <header class="topbar">
    <a href="{{ site.baseurl }}/"> {{ site.title }} </a> /
    <a href="{{ site.baseurl }}/posts-by-category/"> Posts by category </a> /
    <a href="{{ site.baseurl }}/posts-by-category/{{ page.category }}">{{ page.category | capitalize }}</a> / {{ post.title }}

    <h1 class="post-title">{{ post.title }}</h1>
    {% include reading-time.html %}

  </header>

  {% include post.html %}

  <footer>
    <a id="footer"></a>
    {% include disqus-comments.html %}
    {% include share-buttons.html %}
    {% include related-posts.html %}
  </footer>
</section>
